.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


/* Navbar */
#profileButton i{
    color: #666666;
    font-size: 30px;
    height: 20px;
}

#profileButton i:hover{
    color: #000000;
    font-size: 30px;
    height: 20px;
    transition-delay: 0.5ms;
}

.navbar-nav li {
    font-weight: bolder;
}

#loginButton {
    width: 120px;
    border-color: #1BE4BC;
    color: #1BE4BC;
}

#loginButton:hover {
    width: 120px;
    border-color: #1BE4BC;
    color:white;
    background-color: #1BE4BC ;
    transition-delay: 0.5ms;
}


/* Corousel */
#corouselMangrove{
    margin-top: 58px;
    width: 101%;
}

#corouselMangrove img{
    filter: brightness(0.5);
    height: 600px;
    object-fit: cover;

}

#corouselButton{
    border-color: #1be4bc ;
    color: white ;
    border-radius: 10px;
}

#corouselButton:hover{
    border-color: #1be4bc ;
    color: black ;
    border-radius: 10px;
    background-color: #1BE4BC;
}


/* Product */

#frameProduk{
    background-image: linear-gradient(#65bc82, #b3eaec);
    height: fit-content;
}

#imageProduct img{
    border-radius: 10px;
}

#cardProduct{
    box-shadow: 2px 2px 5px rgb(118, 118, 118);
}




/* Footer */
#footer{
    background-color: #504A48;
    height: fit-content;
}

#listContact a:hover{
    color: rgba(218, 207, 207, 0.799);
    

}

#listContact a{
    color: rgb(255, 255, 255);
    

}


/* Barang */


#KembaliModal{
    border-color: rgb(182, 185, 183);
    color: rgb(151, 158, 153);
    background-color: rgb(255, 255, 255);
    
}

#KembaliModal:hover{
    background-color: rgb(224, 227, 230);
    color: #757575;
}

html {
    scroll-padding-top: 250px; /* Sesuaikan dengan tinggi navbar */
  }
  
